.fc .fc-button-primary {
	background-color: #6F6D6B !important;
	border-color: #6F6D6B !important;
}

.fc .fc-button-primary:not(:disabled):hover { /* darker for hover */
	background-color: #5E5D5B !important; 
	border-color: #5E5D5B !important; 
}

.fc .fc-button-active { /* darker for hover */
	background-color: #5E5D5B !important; 
	border-color: #5E5D5B !important; 
}

.fc .fc-button-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(94, 93, 91, 0.5) !important; /* focus ring colour */
}