.fc .fc-button-primary {
	background-color: #6F6D6B !important;
	border-color: #6F6D6B !important;
}

.fc .fc-button-primary:not(:disabled):hover { /* darker for hover */
	background-color: #5E5D5B !important; 
	border-color: #5E5D5B !important; 
}

.fc .fc-button-active { /* darker for hover */
	background-color: #5E5D5B !important; 
	border-color: #5E5D5B !important; 
}

.fc .fc-button-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(94, 93, 91, 0.5) !important; /* focus ring colour */
}

.fc-event-title {
	font-weight: 500 !important;
}

.fc-col-header-cell-cushion, .fc-daygrid-day-number { 
	text-decoration: none !important;
}

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 1px;
}