// $primary: #9d0045; // override bootstrap primary colour
// $secondary: #6F7989;
// $secondary: #6a7385;
// $secondary: #5F646E;
$secondary: #6F6D6B;

// $body-bg: #f4fffc;
// $body-bg: #fcfffc;
$body-bg: #fcfcf9;

$primary: #4A7E8D;
// $primary: #527a79;

// $primary: #87294E;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,670;0,700;1,400;1,500;1,670;1,700&display=swap');
$font-family-sans-serif: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 670;

@import "bootstrap/scss/bootstrap";