// $primary: #9d0045; // override bootstrap primary colour
// $secondary: #6F7989;
// $secondary: #6a7385;
// $secondary: #5F646E;
$secondary: #6F6D6B;

// $body-bg: #f4fffc;
// $body-bg: #fcfffc;
$body-bg: #fcfcf9;


$primary: #4A7E8D;
// $primary: #527a79;

// $primary: #87294E;
@import "bootstrap/scss/bootstrap";
